##############################################################################
# SnapManager for Oracle Configuration File
##############################################################################

############################################################################## 
# NOTES:
#
# Regular Expressions:
#   See http://java.sun.com/j2se/1.5.0/docs/api/java/util/regex/Pattern.html for valid regexp syntax
#   Special chars must be double-escaped (\\)
##############################################################################

##############################################################################
# Directories
##############################################################################
# Installation directory
install.dir=/opt/NetApp/smsap

# Max number of log files in the rolling rotation.
log.max_log_files=3


# Max size any one log file will grow to before rolling to a new log file
log.max_log_file_size=10MB
   
# Max number of rolling operation factory logs. The max_log_files and max_log_file_size
# properties apply to these log files as well. They are of the form opFactory_FACTORYID.log.
# So for example if max_log_files is set to 2, max_rolling_operation_factory_logs is set to
# 10, and max_log_file_size is 10MB,  you could have a max of 2 * 10 * 10MB  = 200MB of storage
# taken up by the operationFactory logs. These log files are pruned oldest first until the number
# of operation factory logs <= max_rolling_operation_factory_logs.
log.max_rolling_operation_factory_logs=20

# Client log files (relative to user-specific dir)
client.log.dir=log

##############################################################################
# Global Options
##############################################################################

# Timeout (in milliseconds) for all external commands that SMO executes, including:
#  - Database commands over JDBC or SQLPlus
#  - Host commands (snapdrive, asmlib, df, etc.)
#  - Filer commands over ZAPI
# Value is a long, so the max value is 2^63 - 1 == 9223372036854775807
# Default value is 1 year (in milliseconds)
#services.execution.globalDefaultTimeout=31536000000

# Timeout (in milliseconds) for BACKINT operations 
# (putting tablespaces into backup state)
# to report timeout and abort processing
# Value is a long, so the max value is 2^63 - 1 == 9223372036854775807
# Default value is 30 minutes (in milliseconds) == 1800000
#backint.operations.timeout=1800000

# Symbolic Link handling on the Clone target side
# If there are symbolic links that point to non-existing targets, 
# they will be removed, if they would break the cloning process.
# Value is a boolean
# Default value is true 
#clone.enable.invalid.symlink.removal=true

# While Cloning the database, if the user enters one or more archived log destinations that already exist in the active file system, 
# then SnapManager displays an error message: Log Archive Destination "SpecifiedDestination" must not exist,
# except for those archive log destinations that are specified in the exclude parameter.
# Separate the Destinations using comma for multiple destinations  
# Example: clone.exclude.archivedLogDestinations=/directory/path/on/local/disk1,/directory/path/on/local/disk2
# clone.exclude.archivedLogDestinations=

# Amount of time (in minutes) to wait for snap list command to complete.
# Will be used by snapfile. Default value is 30 minutes.
snapshot.list.timeout.min=30


##############################################################################
# Database Options
##############################################################################
# The archive logs which does not exist in the active file system will not be included in the backup.
# The archive logs created before the missing files will be included in the backup.
# Set this to false to ignore all the archive log files created beyond this missing files to be included in the backup.
backup.archivelogs.beyond.missingfiles=false

# Archived log files matching this Regular Expression will be excluded from all the backups
# Example: archivedLogs.exclude=/arch/logs/on/local/disk/.*
# Archived log files will be excluded from the profile and the backups
# 
# Use any one of the following configurations to exclude the archive log files:
# 1. Exclude the archived log files from the host using Regular Expression
#    [This option is deprecated, use the option 2 or 3 for better performance]
#        - Archived log files matching this Regular Expression will be excluded from the profile and the backups
#        - Separate the patterns using comma for multiple patterns
#        - Example: archivedLogs.exclude=/arch/logs/on/local/disk1/.*,/arch/logs/on/local/disk2/.*
#archivedLogs.exclude=
#
# 2. Exclude the archived log files from the host using SQL Expression
#        - Archived log files matching this SQL Expression will be excluded from the profile and the backups.
#        - Separate the patterns using comma for multiple patterns
#        - Example: archivedLogs.exclude.fileslike=/arch/logs/on/local/disk1/%,/arch/logs/on/local/disk2/%
#archivedLogs.exclude.fileslike=
#
# 3. Exclude archived log files from the DB using SQL Expression
#        - Archived log files of the DB, matching this SQL Expression will be excluded from the profile and the backups.
#        - Separate the patterns using comma for multiple patterns
#        - Example: mydb.archivedLogs.exclude.fileslike=/arch/logs/on/local/disk1/%,/arch/logs/on/local/disk2/%
#<db-unique-name>.archivedLogs.exclude.fileslike=
#archivedLogs.exclude.fileslike = /nonnetapp_archmcdb/%,/mcdb_nonnetapp_arch/%
#khdb.archivedLogs.exclude.fileslike=+KHDB_NONNETAPPARCH/khdb/archivelog/%

# Causes SMO to GC before and after each SOAP request and report memory usage. This allows
# us to easily see if SMO has a memory leak.
report.memory.usage=false

# When restoring from secondary, the restore.secondaryAccessPolicy 
# designates how data is connected to the host if it must be connected 
# during the restore for a host side file copy restore.
#
#   direct   - Host has direct access to the secondary storage system.
#              Storage resources will be connected directly from the
#              secondary storage system to the host.   (preferred)
#
#   indirect - Host does NOT have direct access to the secondary storage system.
#              Storage resources will be copied to a temporary volume on the 
#              the primary storage system first.
#              Then those storage resources will be connected from 
#              the primary storage system to the host.
#
#restore.secondaryAccessPolicy=direct
restore.secondaryAccessPolicy=direct

# When restore.secondaryAccessPolicy=indirect, the restore.temporaryVolumeName
# designates the default name of a temporary volume that exists on the primary
# storage systems into which data will be copied from secondary.
# This value can be overridden on the command line or in the GUI for each
# restore operation.
#
#restore.temporaryVolumeName=

# Number of threads to use for parallel file copy operations
#restore.fileCopyThreads=1
#used to change database state to shutdown before performing backup 
#backup.offline.alwaysShutdown=true
##############################################################################
# Retention Options
##############################################################################

# These options define the default count and duration values for new profiles

retain.hourly.count=8
retain.hourly.duration=0

retain.daily.count=4
retain.daily.duration=0

#retain.weekly.count=0
#retain.weekly.duration=4

#retain.monthly.count=0
#retain.monthly.duration=12

# Set this to true to force the retention policy to always free expired backups.
# When false, PROTECTED backups will be freed, others will be deleted
#retain.alwaysFreeExpiredBackups=false

#############################################################################
# RBAC Options
#############################################################################
# Time before a saved host credential expires: 60 * 24 * 7 * 4 * 6 (Roughly the number of minutes in 6 months)
host.credentials.time.before.expire=241920

# If set to true the users OS password will be cached in the credential file in an encrypted form.
host.credentials.persist=false

##############################################################################
# ASM Options
##############################################################################

# Enable use of Partial File SnapRestore to restore ASM files?
asm.usePartialFileSnapRestore=true

##############################################################################
# Email Notification Configuration
##############################################################################

# These email retry count and retry interval(in minutes) options can be configured
# for re-sending the mail in failure scenarios    
email.notification.retry.count=0
email.notification.retry.interval=0

##############################################################################
# Oracle client home
##############################################################################

#To indicate the oracle client home in case of Oracle 11gR2 64 bit installations.
#oracle.client.home=/home/oracle/client
oracle.client.home=/oracle/client/11x_64/instantclient

##############################################################################
# ArchiveLog Consolidation
##############################################################################
# Set the value as "true" to free the duplicate archivelog backups
archivelogs.consolidate=true

##############################################################################
# ArchiveLog pruning
##############################################################################
# Prune the archivelog files from the specified  archivelog  destinations or other archivelog destinations
# Set this to false to prune the archivelog files from specified destinations, if the archivelog files are backed up from the specified destinations (provided using the option -prune-dest).
# Set this to true to prune the archivelog files from specified destinations, if the archivelog files are backed up at least once from any one of the other destinations.
prune.archivelogs.backedup.from.otherdestination = false 
#The maximum number of archivelog files that you can prune at a time must be less than 1000
maximum.archivelog.files.toprune.atATime = 900 

##############################################################################
# Recovery
##############################################################################

###############################################################################
# ArchiveLog Backup
###############################################################################
#When user specifies label for backup (containing datafiles and archive log file together) created using the profiles that are separated for taking archive log backups, 
#the label names for the data backup and the archive log backup are differentiated with a suffix. 
#By default, an underscore parameter (_logs) is added to the archive log backup label, for example arch_logs. 
#To edit the parameter (_logs), edit the suffix.backup.label.with.logs parameter.

#For example, you can specify the value as suffix.backup.label.with.logs=arc so that the _logs default value is changed to _arc.

suffix.backup.label.with.logs=logs

# Set the value as "true" to force  the archiving of redo logs while taking archivelog only backup.
backup.archivelogs.force.online.redo.log.switching=true





SMOServer.port=27314
SMOServer.rmiRegistry.port=27315
remote.registry.ocijdbc.port=27315

snapshot.create.timeout=2400000
